/* CSS Styles */
:root {
    --primary-color: #00425A;
    --secondary-color: #D3D3D3;
    --default-color: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}
  
ul {
    list-style: none;
}

/* Header CSS */
header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.35em;
}

.logo a {
    font-weight: bold;
    font-size: 2em;
    color: var(--secondary-color);
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.image {
    background-color: var(--secondary-color);
    padding: 100px 0;
    text-align: center;
}

/* Home Page CSS */
.home {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    text-align: center;
}

.home img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 50px;
}

.home h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.home p {
    font-size: 1.5rem;
    line-height: 1.5;
}

/* About Page */
.about {
    background-color: var(--default-color);
    padding: 100px 0;
    text-align: center;
}

.about img {
    width: 25%;
    height: auto;
    border-radius: 50%;
}

.skills {
    background-color: var(--secondary-color);
    padding: 100px 0;
    text-align: center;
}

.skill-item {
    margin: 1.5em;
    display: inline-block;
    vertical-align: top;
    width: 150px;
}

.skill-name {
    font-weight: bold;
    margin-bottom: 0.7em;
}

.skill-level {
    height: 1.5em;
    background-color: #00425A;
    margin-bottom: 10px;
}

#rating span {
    color: var(--primary-color);
    opacity: .5;
    display: inline-block;
    transform: rotateX(45deg);
    transform-origin: center bottom;
}

#rating span.checked {
    color: var(--primary-color);
    opacity: 1;
    transform: rotateX(0deg);
}

.projects {
    background-color: #FFFFFF;
    padding: 100px 0;
    text-align: center;
}

.project-item {
    margin: 20px;
    display: inline-block;
    vertical-align: top;
    width: 300px;
    text-align: left;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    padding: 10px;
}

.project-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.contact {
    background-color: #00425A;
    padding: 100px 0;
    text-align: center;
    color: #FFFFFF;
}

.contact-form {
    display: inline-block;
    text-align: left;
}

.footer {
    background-color: var(--secondary-color);
    color: #00425A;
    padding: 20px;
    text-align: center;
}

.button {
    padding: 0.5em;
    background-color: var(--default-color);
    color: var(--primary-color);
    border: var(--default-color) 1px solid;
}


/* General Styling */
/*
  
  header {
    background-color: #D3D3D3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    font-size: 2rem;
    font-weight: bold;
  }
  
  
  
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    text-align: center;
  }
  
  .hero img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 50px;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  
  .about {
    background-color: #D3D3D3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    text-align: center;
  }
  
  .about img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 50px;
  }
  
  .about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .about p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 50px;
  }
  
  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    text-align: center;
  }
  
  .skill-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
  }
  
  .skill-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .skill-level {
    height: 10px;
    background-color: #D3D3D3;
  }
  
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    text-align: center;
  }
  
  .project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .project-item img {
    width: 400px;
    margin-bottom: 20px
}

.project-title {
font-size: 2rem;
margin-bottom: 10px;
}

.project-description {
font-size: 1.2rem;
line-height: 1.5;
margin-bottom: 20px;
}

.project-links {
display: flex;
justify-content: center;
}

.project-links a {
margin: 0 10px;
}

.contact {
background-color: #D3D3D3;
display: flex;
flex-direction: column;
align-items: center;
padding: 100px;
text-align: center;
}

.contact h2 {
font-size: 2.5rem;
margin-bottom: 50px;
}

.contact-form {
display: flex;
flex-direction: column;
align-items: center;
max-width: 400px;
}

.contact-form label {
font-size: 1.2rem;
margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
width: 100%;
padding: 10px;
margin-bottom: 20px;
border: none;
border-radius: 5px;
}

.contact-form input[type="submit"] {
background-color: #00425A;
color: white;
padding: 10px;
border-radius: 5px;
cursor: pointer;
}

.contact-form input[type="submit"]:hover {
background-color: #002F40;
} */